{
  "rules": {
    "indent": 2,
    "no-unused-vars": 2,
    "no-alert": 2,
    "quotes": [1, "single"],
    "semi": [2, "always", {"omitLastInOneLineBlock": true}]
  }, 
  "env": {
    "es6": true,
    "node": true,
    "jest":true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
